@model Messenger_King_Courier.Models.AppModels.Order

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bookings.Book_RecipientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bookings.Book_RecipientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inspection.Condition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inspection.Condition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderCategory.OrderCat_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderCategory.OrderCat_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order_DateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order_DateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order_DeliveryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order_DeliveryDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
