@model Messenger_King_Courier.Models.AppModels.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bookings.Book_RecipientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bookings.Book_RecipientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inspection.Condition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inspection.Condition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderCategory.OrderCat_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderCategory.OrderCat_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order_DateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order_DateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order_DeliveryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order_DeliveryDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Order_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
