@model Messenger_King_Courier.Models.AppModels.Bank

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Bank</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AccountCategory.Account_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountCategory.Account_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankCategory.Bank_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankCategory.Bank_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.Client_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Client_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Driver.Driver_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Driver.Driver_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bank_Account_Holder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bank_Account_Holder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bank_Account_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bank_Account_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Debit_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Debit_Date)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
