@model IEnumerable<Messenger_King_Courier.Models.AppModels.Bank>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AccountCategory.Account_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BankCategory.Bank_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client.Client_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Driver.Driver_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bank_Account_Holder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bank_Account_Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Debit_Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AccountCategory.Account_Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BankCategory.Bank_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.Client_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Driver.Driver_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bank_Account_Holder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bank_Account_Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Debit_Date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Bank_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Bank_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Bank_ID })
        </td>
    </tr>
}

</table>
