@model IEnumerable<Messenger_King_Courier.Models.AppModels.Client>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClientCategory.ClientCat_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client_IDNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client_Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client_Cellnumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client_Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client_Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client_Tellnum)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClientCategory.ClientCat_Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client_IDNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client_Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client_Cellnumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client_Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client_Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client_Tellnum)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Client_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Client_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Client_ID })
        </td>
    </tr>
}

</table>
