@model Messenger_King_Courier.Models.AppModels.Booking

@{
    ViewBag.Title = "Messenger King - Booking";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Messenger King - Booking</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Bakery In Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>

    <link href="~/LayOuts/FullSite Files/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" /><!-- bootstrap css -->
    <link href="~/LayOuts/FullSite Files/css/style.css" rel="stylesheet" type="text/css" media="all" />

    <link href="~/LayOuts/FullSite Files/css/font-awesome.css" rel="stylesheet"> <!-- fontawesome css -->
    <!--fonts-->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext,vietnamese" rel="stylesheet">
    <!--//fonts-->

</head>
<body>

    <!-- header -->
    <div class="header">
        <div class="content white">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand">
                            <h1>@Html.ActionLink("Messenger King", "Index", "Home")</h1>
                        </a>
                    </div>
                    <!--/.navbar-header-->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <nav>
                            <ul class="nav navbar-nav">
                                <li><a @Html.ActionLink("Home", "Index", "Home") </a></li>
                                <li><a @Html.ActionLink("Booking", "Create", "Bookings") </a></li>
                                <li><a @Html.ActionLink("Tracking", "Create", "Trackings") </a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Orders <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a @Html.ActionLink("Get Quote", "Create", "Quotes") </a></li>
                                        <li class="divider"></li>
                                        <li><a @Html.ActionLink("Manage Orders", "Create", "Orders") </a></li>
                                    </ul>
                                </li>
                                <li><a @Html.ActionLink("Contact Us", "Contact", "Home") </a></li>
                                <li class="dropdown">
                                    <a href="#" class="active" data-toggle="dropdown">Profile <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a @Html.ActionLink("Login", "Login", "Account")  </a></li>
                                        <li class="divider"></li>
                                        <li><a @Html.ActionLink("Register", "Register", "Account") </a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!--/.navbar-collapse-->
                    <!--/.navbar-->
                </div>
            </nav>
        </div>
    </div>
    <!-- //header -->

    <h2>Create</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Booking</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Book_PickupDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Book_PickupDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Book_PickupDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Book_DeliveryDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Book_DeliveryDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Book_DeliveryDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Book_RecipientName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Book_RecipientName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Book_RecipientName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Book_RecipientSurname, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Book_RecipientSurname, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Book_RecipientSurname, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Book_RecipientNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Book_RecipientNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Book_RecipientNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Book_DeliveryNote, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Book_DeliveryNote, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Book_DeliveryNote, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Book_TotalCost, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Book_TotalCost, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Book_TotalCost, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.BookStatus, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.BookStatus)
                        @Html.ValidationMessageFor(model => model.BookStatus, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Quote_ID, "Quote_ID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Quote_ID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Quote_ID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="w3_agile_footer_grids">
                <ul class="col-md-3 col-xs-6 w3_agile_footer_grid right">
                    <h3>Opening Hours</h3>
                    <li><span class="fa fa-clock-o" aria-hidden="true"></span>Monday <span>8:00 - 17:00</span></li>
                    <li><span class="fa fa-clock-o" aria-hidden="true"></span>Tuesday <span>8:00 - 17:00</span></li>
                    <li><span class="fa fa-clock-o" aria-hidden="true"></span>Wednesday <span>8:00 - 17:00</span></li>
                    <li><span class="fa fa-clock-o" aria-hidden="true"></span>Thursday <span>8:00 - 17:00</span></li>
                    <li><span class="fa fa-clock-o" aria-hidden="true"></span>Friday <span>8:00 - 17:00</span></li>
                    <li><span class="fa fa-clock-o" aria-hidden="true"></span>Weekends <span>Closed</span></li>
                    <li><span class="fa fa-clock-o" aria-hidden="true"></span>Public Holidays <span>Closed</span></li>
                </ul>
                <div class="col-md-3 col-xs-6 w3_agile_footer_grid">
                    <h3>Navigation</h3>
                    <ul class="agileits_w3layouts_footer_grid_list">
                        <li>
                            <span class="fa fa-angle-double-right" aria-hidden="true"></span>
                            <a @Html.ActionLink("Home", "Index", "Home") </a>
                        </li>
                        <li>
                            <span class="fa fa-angle-double-right" aria-hidden="true"></span>
                            <a @Html.ActionLink("Booking", "Create", "Bookings") </a>
                        </li>
                        <li>
                            <span class="fa fa-angle-double-right" aria-hidden="true"></span>
                            <a @Html.ActionLink("Tracking", "Create", "Trackings") </a>
                        </li>
                        <li>
                            <span class="fa fa-angle-double-right" aria-hidden="true"></span>
                            <a @Html.ActionLink("Orders", "Index", "Home") <b></a></b><br>
                            <a @Html.ActionLink("-Get Quote", "Create", "Quotes") </a><br>
                            <a @Html.ActionLink("-Manage Orders", "Create", "Orders") </a>
                        </li>
                        <li>
                            <span class="fa fa-angle-double-right" aria-hidden="true"></span>
                            <a @Html.ActionLink("Contact Us", "Contact", "Home") </a>
                        </li>
                        <li>
                            <span class="fa fa-angle-double-right" aria-hidden="true"></span>
                            <a @Html.ActionLink("Profile", "Index", "Home") <b></a></b><br>
                            <a @Html.ActionLink("-Login", "Login", "Account") </a><br>
                            <a @Html.ActionLink("-Register", "Register", "Account") </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 col-xs-6 w3ls_address_mail_footer_grids w3_agile_footer_grid">
                    <h3>Contact Us</h3>
                    <div class="w3ls_footer_grid_left">
                        <div class="w3l-icon">
                            <span class="fa fa-map-marker" aria-hidden="true"></span>
                        </div>
                        <p>
                            32 Marshall Drive, Mount Edgecomb, Durban, 4302
                        </p>
                        <div class="clearfix"></div>
                    </div>
                    <div class="w3ls_footer_grid_left">
                        <div class="w3l-icon">
                            <span class="fa fa-phone" aria-hidden="true"></span>
                        </div>
                        <p>
                            +031 566 1604
                        </p>
                        <div class="clearfix"></div>
                    </div>
                    <div class="w3ls_footer_grid_left">
                        <div class="w3l-icon">
                            <span class="fa fa-envelope-o" aria-hidden="true"></span>
                        </div>
                        <p>
                            <a href="mailto:info@messengerking.co.za">info@messengerking.co.za</a>
                        </p>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="clearfix"> </div>
            </div>
            <div class="agileinfo_copyright">
                <p>
                    © 2020 Messenger King. All Rights Reserved | Design by CodeShedding Inc.</a>
                </p>
            </div>
        </div>
    </div>
    <!-- //footer -->
    <!-- Supportive js -->
    <script type="text/javascript" src="~/LayOuts/FullSite Files/js/jquery-2.1.4.min.js"></script>
    <!-- //Supportive js -->
    <!-- banner bottom video script -->
    <script src="~/LayOuts/FullSite Files/js/simplePlayer.js"></script>
    <script>
				$("document").ready(function() {
					$("#video").simplePlayer();
				});
    </script>
    <!-- //banner bottom video script -->
    <!-- testimonials plugin script -->
    <script src="~/LayOuts/FullSite Files/js/jquery.wmuSlider.js"></script>
    <script>
		$('.example1').wmuSlider();
    </script>
    <!-- testimonials plugin script -->
    <!-- smooth scrolling js -->
    <script src="~/LayOuts/FullSite Files/js/SmoothScroll.min.js"></script>
    <!-- smooth scrolling js -->
    <!-- start-smooth-scrolling -->
    <script type="text/javascript" src="~/LayOuts/FullSite Files/js/move-top.js"></script>
    <script type="text/javascript" src="~/LayOuts/FullSite Files/js/easing.js"></script>
    <script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
    </script>

    <!-- here starts scrolling icon -->
    <script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

			});
    </script>
    <!-- //here ends scrolling icon -->
    <!-- move to top-js-files -->
    <script type="text/javascript" src="~/LayOuts/FullSite Files/js/move-top.js"></script>
    <script type="text/javascript" src="~/LayOuts/FullSite Files/js/easing.js"></script>
    <!-- //move to top-js-files -->

    <script type="text/javascript" src="~/LayOuts/FullSite Files/js/bootstrap.js"></script><!-- bootstrap js file -->

</body>
</html>

