@model Messenger_King_Courier.Models.AppModels.Driver

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Driver</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Driver_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Driver_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Driver_Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Driver_Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Driver_CellNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Driver_CellNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Driver_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Driver_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Driver_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Driver_Email)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
