@model Messenger_King_Courier.Models.AppModels.Invoice

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bank.Bank_Account_Holder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bank.Bank_Account_Holder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Month.Book_RecipientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Month.Book_RecipientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order.Order_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.Order_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Invoice_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Invoice_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Invoice_Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Invoice_Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Invoice_DueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Invoice_DueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Invoice_AmountDue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Invoice_AmountDue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Invoice_VAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Invoice_VAT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Invoice_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
