@model IEnumerable<Messenger_King_Courier.Models.AppModels.Invoice>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Bank.Bank_Account_Holder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Month.Month_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.Order_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Invoice_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Invoice_Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Invoice_DueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Invoice_AmountDue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Invoice_VAT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Bank.Bank_Account_Holder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Month.Month_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order.Order_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Invoice_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Invoice_Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Invoice_DueDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Invoice_AmountDue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Invoice_VAT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Invoice_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Invoice_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Invoice_ID })
        </td>
    </tr>
}

</table>
